@charset "UTF-8";

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #f8f8f8;
  color: #414040;
  font-size: 18px;
}
@media screen and (max-width:768px) {
body {
  background-color: #fff;

}
}
/* PCの時に改行 */
@media screen and (max-width:768px) {
.pc_br {
  display: none;
} 
}
/* スマホの時に改行 */
.sp_br {
  display: none;
}
@media screen and (max-width:768px) {
.sp_br {
  display: block;
}
}

/* メイン */
.mv {
  margin-bottom: 100px;
  background-color: #6B0007;
}
@media screen and (max-width:768px) { 
.mv {
  margin-bottom: 70px;
}
}
.mv_imagebox {
  max-width: 1200px;
  margin: 0 auto;
}

/* 画像を扱いやすくする */
img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
@media screen and (max-width:768px) { 
  img {
  background-color: #fff;
}
}

/* コンテイナータグ */
.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto; 
}
/* インフォメーション */
.info_box {
  max-width: 324px;
  text-align: center;
  margin: 0 auto;    
  background-color: #F8E5E8;
  border: 1px solid #B5071E;
  padding: 21px 0;
  margin-bottom: 100px;
  font-weight: 400;
}
@media screen and (max-width:768px) { 
.info_box {
  margin-bottom: 70px;
}
}
.info_box a{
  color: #B70016;
  display: block;
}
.info_wrap {
  display: flex;
  justify-content: space-around;   
}
@media screen and (max-width:768px) { 
.info_wrap {
  flex-direction: column;
  align-items: center;
}
}
.info_left {
  width: 48%;
}
@media screen and (max-width:768px) { 
.info_left {
  /* width: 100%; */
  /* margin-bottom: 40px; */
  margin: 0 calc(50% - 50vw) 40px;
	width: 100vw;
}
}
.info_right {
  width: 48%;
}
@media screen and (max-width:768px) { 
.info_right {
  width: 100%;
}
}
.info_right-ttl {
  line-height: 1.4;
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 32px;
}
@media screen and (max-width:768px) { 
.info_right-ttl {
  font-size: 30px;
  padding-bottom: 40px;
  text-align: center;  
}
}  
.info_right-about {
  line-height: 1.8;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width:768px) { 
.info_right-about {
  padding: 0 15px;
}
}

/* おすすめメニュー */
.menu {
  background-color: #fdeccd;
  padding: 100px 0 130px 0;
  margin-top: 100px;
}
@media screen and (max-width:768px) { 
.menu {
  padding: 76px 0 100px 0;
  margin-top: 70px;
}
}  
.menu_wrap {
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width:768px) { 
.menu_wrap {
  width: 100%;
}
}  
.menu_title {
  font-size: 40px;
  font-weight: 700;
}
@media screen and (max-width:768px) { 
.menu_title {
  font-size: 30px;
  text-align: center;
}
}  
.menu_text {
  padding: 36px 0;
  font-weight: 400;
}
@media screen and (max-width:768px) { 
.menu_text {
  padding: 40px 0 50px 0;
}
}  
.menu_left {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width:768px) { 
.menu_left {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 0 25px; 
}
}  
.menu_item1 {
  width: 47%;
  position: relative;
}
@media screen and (max-width:768px) { 
.menu_item1 {
  width: 100%;
}
} 
.menu_item2 {
  margin-top: 120px;
  position: relative;
  width: 47%;
}
@media screen and (max-width:768px) { 
.menu_item2 {
  width: 100%;
  margin-top: 90px;
}
} 
.menu_right {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width:768px) { 
.menu_right {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center; 
  padding: 0 25px; 
}
}  
.menu_item3 {
  width: 47%;
  position: relative;
}
@media screen and (max-width:768px) { 
.menu_item3 {
  width: 100%;
  margin-top: 90px;
}
} 
.menu_item4 {
  margin-top: 120px;
  position: relative;
  width: 47%;
}
@media screen and (max-width:768px) { 
.menu_item4 {
  width: 100%;
  margin-top: 90px;
}
} 
.menu_name {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;    
  background-color: #fff;
  text-align: center;
  max-width: 324px;
  padding: 21px 0;
  font-weight: 400;
  width: 80%;
  border-radius: 10px;
  margin-top: -40px;
}
@media screen and (max-width:768px) { 
.menu_name {
  max-width: 500px;
}
} 

/* 店舗情報 */
.company_title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 100px 0 40px;
}
@media screen and (max-width:768px) { 
.company_title {
  font-size: 30px;
  margin: 70px 0 30px;
}
}  
.company_table {
  max-width: 852px;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.company_table tr:last-child td{
  border-bottom: 1px solid #707070;

}
.company_table th {
  border-top: 1px solid #707070;  
  border-bottom: 1px solid #707070;
  background: #f2e4e4;
  width: 20%;
  padding: 31px 5px;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width:768px) { 
.company_table th {
  display: block;
  width: 100%;
  padding: 12px;
  border-bottom: none;
}
}  
.company_table td {
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  width: 80%;
  padding: 28px 0 28px 28px;
  font-weight: 400;
}
@media screen and (max-width:768px) { 
.company_table td {
  display: block;
  width: 100%;
  padding: 21px;  
  text-align: center;
  border-bottom: none;
}
} 

/* 地図 */
iframe {
  width: 100%;
  margin: 100px 0 150px 0;
}
@media screen and (max-width:768px) { 
iframe {
  margin: 70px 0 100px 0;
}
}  
/* フッター */
footer {
  background: #b70016;
  text-align: center;
  padding: 18px 0;
}
footer p {
  color: #fff;
  font-size: 18px;
  font-weight: 400px;
}


